/**
 * Reset button styles.
 * It takes a bit of work to achieve a neutral look.
 */
 button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* show a hand cursor on hover; some argue that we
    should keep the default arrow cursor for buttons */
    cursor: pointer;
  }

  a{

    text-decoration: none;
    color : #333333;
    font-weight: bold;
  }

  a:hover{

    color : #c4e7df
    
  }